tr button {
    padding-top: .3rem !important;
    padding-bottom: .3rem !important;
}
th {
    color: black;
}

input[type=checkbox] {
    width: 18px !important;
    height: 18px !important;
}

@media (min-width: 576px) {
    .size_modal {
        max-width: 600px;
    }

    .trans_size_modal {
        max-width: 1100px;
    }

    .capping_size_modal {
        max-width: 810px;
    }
}

.transfer {
    flex: 0 0 15%;
    max-width: 13%;
}

.row .dataTables_length, .row .dataTables_filter {
    display: none;
}

.checkbox_button_style {
    background: teal;
}

.capped_status {
    position: absolute;
    opacity: 0;
}

#value_capping {
    border-color: #ebe8e8;
    border-width: thin;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
