th {
    color: #fff;
}

.button {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.dropdown-menu .dropdown-toggle:after {
    vertical-align: 0;
}

@media (min-width: 992px) {
    .dropdown-menu .dropdown-toggle:after {
        border-top: 0.3em solid transparent;
        border-right: 0;
        border-bottom: 0.3em solid transparent;
        border-left: 0.3em solid;
    }

    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
        background-color: #007bff !important;
    }

    .dropdown-menu .dropdown-menu {
        margin-left: 0;
        margin-right: 0;
    }

    .dropdown-menu li {
        position: relative;
    }
    .nav-item .submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -7px;
    }
    .nav-item .submenu-left {
        right: 100%;
        left: auto;
    }

    .dropdown-item-color {
        background-color: #007bff !important;
        color: #fff !important;
    }
    .dropdown-menu > li:hover {
        background-color: #f1f1f1;
    }
    .dropdown-menu > li:hover > .submenu {
        display: block;
    }
}

.wallet_image {
    width: 25px;
    height: 25px;
    float: right;
    cursor: pointer;
}

.logo_image {
    height: 35px;
}

.profile_image {
    width: 30px;
    height: 30px;
}
