tr button {
    padding-top: .3rem !important;
    padding-bottom: .3rem !important;
}
th {
    color: black;
}

input[type=checkbox] {
    width: 18px !important;
    height: 18px !important;
}

.row .dataTables_filter {
    display: none;
} 

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.table td, .table th {
    text-align: center;
}
